/* This file is for your main application css. */

.help-block {
    color: red;
    text-decoration-color: red;
    text-transform: capitalize;
    position: absolute;
    top: 37px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

/*
.alert.alert-info {
    position: relative;
    top: 10px;
}
*/

/* .error-tag-mine {
    color: red;
    text-decoration-color: red;
    position: relative;
    top: 5px;
} */